@charset "UTF-8";


* { 
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

}


header {
    background-color: rgb(184, 184, 184);

}

header > h1 {
    padding: 10px;
    text-align: center;
}

body {
    background-color: lightgray;

}

menu {
    display: block;
}

menu > ul {
    display: block;
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    border-top: 2px solid black;

}

menu > ul > li > a:hover {
    background-color: rgb(168, 168, 168);
    transition: background-color 0.6s;
}

main {

    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h1 {
    padding-bottom: 10px;

}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}