@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}


body {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

header {
    background-color: gray;

}

header h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
    padding-bottom: 30px;

}

ul {
    list-style: none;
    display: flex;
    padding: 10px;
    background-color: gray;
    margin-bottom: 20px;
}



menu > ul > li > a {
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 10px;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

main {
    background-color: white;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;

}

article h1 {
    font-size: 1.3em;
    padding-top: 10px;    
    padding-bottom: 30px;
    text-indent: 10px;
}

article p {
    text-indent: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
}