@charset "UTF-8";

body {
 
    background-image: linear-gradient(to right, pink, yellow, purple);
    background-color: wheat;
    font: italic lighter 16px arial, Helvetica, sans-serif;
}

main {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 4%;
    border-radius: 5%;
    border: 6px solid yellow;
    box-shadow: 5px 5px 30px rgb(58, 0, 58);

    h1,h2 {
    background-color: antiquewhite;
    text-align: center;
    
}

}

p {
    text-align: justify;
    text-shadow: 1px 1px 10px purple;
}

div {
    background-color: white;
    margin: auto;
    padding: 4%;
    width: 600px;
    border-radius: 5%;
    border: 6px solid pink;
}