
body {
    background-color: rgb(255, 216, 203);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 { 
    color: brown;
    background-color: black;
    text-align: center;
}
h2 {
    color: aquamarine;
    background-color: black;
    text-align: center;
    
}
img {
    text-align: center;
}