@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf), format('opentype');
    font-weight: normal;
    font-style: normal;
} 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
/*
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-android: "Idroid", sans-serif;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header > p{ 
    color: white;
}

nav {
    background-color: var(--cor5);
}


main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    margin: auto;

}

img {
    width: 100%;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android)
}

main h2 {
    font-family: var(--fonte-android)
    }

footer {
    background-color: var(--cor5);
    color: white;

}
    