    @charset "UTF-8"; 
 
           body {
                background-color: bisque;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
           }
           h1 {
                color: brown;
                background-color: black;
           }
           h2 {
            color: rgb(99, 15, 15);
           }
           p {
            text-align: justify;
           }
