@charset "UTF-8";

* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../fotos/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}

main {
    background-color: rgba(255, 255, 255, 0.712);
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.452);
    font-size: 2em;
    
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}
img#tablet {
    display: none;
}
img#print {
    display: none;
}
img#pc {
    display: none;
}
img#tv {
    display: none;
}