@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    
}

body {
    background-image: linear-gradient(to bottom, #D8B08C, #FFCB9A);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 30px #775f4b;
    width: 600px;
   padding: 20px;
   border: 4px solid #0F6466;
   margin: auto;
   
}

h1 {
    color: #0F6466;
    text-align: center;
    text-shadow: 1px 1px 2px #775f4b;
}

h2 {
    color: #2C3532;
}

p {
    text-align: justify;
    color: rgb(26, 26, 26);
}

