@charset "UTF-8";

        * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.315);
    padding: 10px;
    
}

    @media screen and (orientation: landscape) {

        body {
            background-image: url(../imagens/cev-landscape.jpg);
            background-size: contain;
            background-position: left bottom;
            background-repeat: no-repeat;


    }

    }

    @media screen and (orientation: portrait) {

        body {
            background-image: url(../imagens/cev-portrait.jpg);
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;

    }
        
    }