@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}
nav {
    background-color: white;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 05px 20px peachpuff
}

nav > a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

nav > a:hover {
    color: pink;
    text-decoration: underline;
    font-weight: bold;
}

section {
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    width: 600px;
    padding: 10px;

    border: 4px solid black;
    border-radius: 0px 20px;
    text-align: center;
    box-shadow: 0px 20px 40px rgba(83, 0, 0, 0.281);
}

section > h1 {
    background-color: antiquewhite;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

footer {
    background-color: white;
    padding: 6px;
    text-align: center;
   
}
 footer > p {
    margin: 0px;
 }

 div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
 }
